@import 
url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Big Shoulders Display', cursive;
}

body {
    background-color: #000;
    color: #FFF;
    text-align: center;
}

.heading {
    margin: 0;
}

.pic {
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    margin: 2.5rem 1rem;
    box-shadow: 0 5px 8px palevioletred, 0 -5px 8px palevioletred;
    transition: 200ms;
}

.pic:hover{
    transform: scale(1.2);
}

.start {
    width: 14rem;
    height: 4rem;
    border-radius: 64px;
    font-weight: bold;
    font-size: 1.4rem;
    background: #000;
    color: #FFF;
    box-shadow: 0 5px 8px palevioletred,0 -5px 8px palevioletred;
}

.start:hover {
    transform: scale(1.2);
}

.box {
    margin: 5rem 0;
}

.result {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 25rem;
}